<template>
  <div class="d-flex justify-content-center gl-align-items-center gl-h-full p-3">
    <p class="text-center">
      {{ __('You have not added any approvers. Start by adding users or groups.') }}
    </p>
  </div>
</template>
